@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s ease-out;
}

body {
  background-color: #000; /* Ensure dark mode background */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll; /* Ensure vertical scrolling */
}

/* Font Face for Neon Text */
@font-face {
  font-family: neon;
  src: url(https://dl.dropbox.com/s/df4zz9y6lmhocr9/England.otf?dl=0);
}

/* Intro Section */ 
#intro { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; /* Full viewport height */ 
  cursor: pointer; 
} 
#neon { 
  font-size: 20vh; 
  font-family: neon; 
  color: white; 
  text-shadow: 0 0 .5vh var(--lights), 
  0 0 .5vh var(--lights), 0 0 .5vh var(--lights),
   0 0 .5vh var(--lights), 0 0 1vh var(--lights); 
   animation: flicker 7s infinite; filter: brightness(1); 
  z-index: 100;
}
/* @keyframes flicker { 
  9%, 11%, 13%, 66%, 76% { text-shadow: 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 .5vh var(--lights), 0 0 1vh var(--lights); filter: brightness(1); } 10%, 12%, 67%, 75% { text-shadow: none; 
  filter: brightness(.4); 
}
} */


/* Gradient Animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 25px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 15%;
  right: 10%;
  transform: translate(-50%, -50%);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(#37eba9d9, #5b37eb);
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  position: fixed;
  z-index: -1;
}

@media (min-width: 720px) {
  .gradient {
    --size: 400px;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #33333300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 10000;
  font-size: small;
}

.navbar.scrolled {
  background-color: #ffffff2a;
  backdrop-filter: blur(10px);
}
.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, white, #37eba9d9, #5b37eb);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.portfolio-text {
  background: linear-gradient(90deg, rgb(187, 187, 187), #37eba9d9, #5b37eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  display: flex;
}

.menu li {
  margin: 0 15px;
}



/* General Reset for Sections */
section {
  width: 100%;
  padding: 100px 20px;
  text-align: center;
  box-sizing: border-box;
  min-height: 100vh;
}
/* Tech Stack Section */
#techstack {
    padding: 100px 20px;
    text-align: center;
}

.techstack-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
    gap: 40px;
    padding: 20px;
}

.tech {
    background-color: #222; /* Slightly lighter background */
    border: 1px solid #444; /* Subtle border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech:hover {
    transform: translateY(-10px); /* Lift up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
    transition: all ease-in-out 0.3s;
    background-image:linear-gradient(163deg, #64ffdb86 0%, #5b37eb83 100%);

}

.tech img {
    width: 80px; /* Adjust size as needed */
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.tech p {
    color: #fff; /* White text color */
    font-size: 1rem;
    margin: 0;
}

/* Main Sections Layout */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
 
}


/* Glowing Text Animation */

.glowing-text {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
  /* text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00; */
  animation: glowAnimation 1.5s ease-in-out infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes glowAnimation {
  0% {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #37eba9d9, 0 0 30px #5b37eb;
  }
  100% {
    text-shadow: 0 0 20px #ffffff, 0 0 30px #37eba9d9, 0 0 40px #5b37eb;
  }
}


/* Project Gallery */
.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive layout */
  gap: 20px;
  padding: 20px;
}

/* Project Card */
.project-card {
  background-color: #222; /* Slightly lighter background */
  border: 1px solid #444;

  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px); /* Lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add depth on hover */
  backdrop-filter: blur(10px);
  background-image:linear-gradient(163deg, #64ffdb86 0%, #5b37eb83 100%);
}

.project-card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: left;
}

.project-card p {
  margin-bottom: 15px;
  font-size: 0.9rem;
  color: #ffffff;
  line-height: 1.5;
  text-align: left;
}

/* Tech Stack */
.tech-stack {
  display: flex;
  gap: 15px;
}

.tech-stack img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Make circular */
  background-color: #fff;
  padding: 3px;
  transition: transform 0.3s ease, border-color 0.3s ease;
  object-fit:contain;
}

.tech-stack img:hover {
  transform: scale(1.1); /* Slight zoom on hover */
  
}


/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}
/* List for Tech Stack */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #fff;
}



/* From Uiverse.io by DavidTM96 */ 

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 20px;
  width: 600px;
  position: relative;
}

.form-heading {
  text-align: center;
  margin: 2em;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
  background: linear-gradient(163deg, #64ffda 0%, #5b37eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ffffff;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image:linear-gradient(163deg, #64ffda 0%, #5b37eb 100%);
  font-weight: bold;
  outline: 1px solid #443580a5;
  transition: all ease-in-out 0.3s;
  
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-image:linear-gradient(163deg, #64ffda 0%, #5b37eb 100%);
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  width: 600px;
  background-image: linear-gradient(163deg, #64ffda 0%, #5b37eb 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

/* From Uiverse.io by ahmed150up2 */ 
/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #ffffff19;
  backdrop-filter: blur(10px);
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card {
  display: flex;
  height: 70px;
  width: 270px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #0059f7;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



/* Basic styling for the text */


.highlight {
  position: relative;
  font-weight: bold;
  background-image: linear-gradient(163deg,  #b3fffc  0%,  #8c6fbb  100%);
  background-clip: text;
  color: transparent;
  animation: glow 1.5s infinite alternate;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

@keyframes glow {
  100% {
    transform: scale(1);
  }
  0% {
    transform: scale(0.9);
  }
}

.highlight:hover {
  transform: scale(1.1);
  color: transparent;
  background-image: linear-gradient(163deg, #64ffda 0%, #5b37eb 100%);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
}

.highlight:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.highlight:hover:before {
  opacity: 1;
}
